  <!-- announcements -->
  <section id="announcements">
    <h2>Announcements</h2>
    <div id="announcements-background">
      <div id="announcements-container">
        <h3>Directors for MLT's 60th Season!</h3>
        <p>
          "Constellations" by Nick Payne<br />
          Directed by E. Roy Lee
        </p>
        <p>
          "Miss Nelson Is Missing!" Adapted by Jeffery Hatcher<br />
          Directed by Emma Hawkins
        </p>
        <p>
          "Spirit Level" by Pam Valentine<br />
          Directed by Keri Lambert
        </p>
        <p>
          "Grand Finale" by Lauren Street<br />
          Directed by Zoe Zent
        </p>
        <p>
          "The Curious Incident of the Dog in the Nighttime" Adapted by Simon
          Stephens<br />
          Directed by Catherine Burford and Shane Lowery
        </p>
        <p>
          "Macbeth" by William Shakespeare<br />
          Directed by Todd Seage
        </p>
        <p>
          "Always a Bridesmaid" by Nicholas Hope, Jessie Jones, and James Wooten
          <br />Directed by Cyndie Verbeten
        </p>
      </div>
    </div>
  </section>