<!-- call to action / hero -->
  <div id="cta">
    <div>
      <h2>
        <div>
          Since 1962.<br />
          60 Years of Continuous<br />
          Community Theatre.
        </div>
      </h2>
      <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="77PY97HNWCJ2L">
        <button
        id="cta-donate-btn"
        name="submit"
        title="You will be redirected to PayPal. MLT does not store any of your payment information."
        alt="You will be redirected to PayPal. MLT does not store any of your payment information."
        >
          Donate
        </button>
      </form>
    </div>
  </div>