<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Murfreesboro Little Theater</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@%5E1.0/dist/tailwind.min.css"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="shortcut icon" href="./img/favicon.ico" />
    <script
      src="https://kit.fontawesome.com/145a4f5b13.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- main site container -->
    <div id="container">
      <div>
        <!-- header / nav bar -->
        <header>
          <nav id="full-nav">
            <h1 id="menu-title">
              <a href="/">
                <div><span class="letter-accent">M</span>urfreesboro</div>
                <div><span class="letter-accent">L</span>ittle</div>
                <div><span class="letter-accent">T</span>heatre</div>
              </a>
            </h1>
            <div id="menu-mobile">
              <div id="floating-links">
                <button id="floating-btn">
                    <a href="/now-showing">Now Showing</a>
                </button>
            </div>
              <div id="menu-icon">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <ul id="menu-list-md"
            >
              <li><a href="/">Home</a></li>
              <li><a href="/now-showing">Now Showing</a></li>
              <li><a href="/membership">Membership</a></li>
              <li><a href="/history">Our History</a></li>
              <li><a href="/about-us">About Us</a></li>
            </ul>
          </nav>
          <nav id="mobile-nav">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/now-showing">Now Showing</a></li>
              <li><a href="/membership">Membership</a></li>
              <li><a href="/history">Our History</a></li>
              <li><a href="/about-us">About Us</a></li>
            </ul>
          </nav>
        </header>