<!-- Membership cards -->
<section id="membership">
  <h2>
    Membership
  </h2>
  <div class="bordered-container">
    <h3>Why become a member of MLT?</h3>
    <p>Memberships are tax deductible!</p>
    <p>Pay only $5 for show tickets!</p>
    <p>Vote at the Annual Membership meeting!</p>
    <p>Support the arts in Murfreesboro!</p>
  </div>
  <div id="cards">
    <div class="card">
      <span class="card-price">$25<span>/yr</span></span>
      <h3>Individual</h3>
      <span>
        A single person membership that runs for a full calendar year from
        when you become a member!
      </span>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="U7DGK8HZ7VUJG">
        <input type="hidden" name="mt0" value="indiv">
        <button
        name="submit"
        alt="You will be redirected to PayPal. MLT does not store any of your payment information."
        title="You will be redirected to PayPal. MLT does not store any of your payment information.">
          Join Now
        </button>
      </form>
      <span>Via PayPal</span>
    </div>
    <div class="card">
      <span class="card-price">$40<span>/yr</span></span>
      <h3>Couple</h3>
      <span>
        A two-person membership that runs for a full calendar year from when
        you become a member!
      </span>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="YZDEDVJVRHBQ8">
        <input type="hidden" name="mt0" value="cpl">
        <button
        name="submit"
        alt="You will be redirected to PayPal. MLT does not store any of your payment information."
        title="You will be redirected to PayPal. MLT does not store any of your payment information.">
          Join Now
        </button>
      </form>
      <span>Via PayPal</span>
    </div>
    <div class="card">
      <span class="card-price">$50<span>/yr</span></span>
      <h3>Family</h3>
      <span>
        A family membership, no matter how many children you have, for a full
        calendar year from when you become a member!
      </span>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="A43WA8DS995PU">
        <input type="hidden" name="mt0" value="fm">
        <button
        name="submit"
        alt="You will be redirected to PayPal. MLT does not store any of your payment information."
        title="You will be redirected to PayPal. MLT does not store any of your payment information.">
          Join Now
        </button>
      </form>
      <span>Via PayPal</span>
    </div>
    <div class="card">
      <span class="card-price">$100<span>/yr</span></span>
      <h3>Business</h3>
      <span>
        Starting at $100 and going up based on ad size in our programs, plus
        the benefits of membership!
      </span>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="GPJVM2Q94CEB4">
        <input type="hidden" name="mt0" value="bns">
        <input type="hidden" name="on0" value="Business Membership Type">
        <label for="os0">Business Membership Type</label>
        <select name="os0" class="mb-4 w-full">
          <option value="Small">Small $100 USD</option>
          <option value="Medium">Medium $300 USD</option>
          <option value="Large">Large $500 USD</option>
        </select>
        <input type="hidden" name="currency_code" value="USD">
        <button
          name="submit"
          alt="You will be redirected to PayPal. MLT does not store any of your payment information."
          title="You will be redirected to PayPal. MLT does not store any of your payment information.">
          Join Now
        </button>
      </form>
      <span>Via PayPal</span>
    </div>
  </div>
  <div class="bordered-container">
    <p>
      After your payment is made, you will be redirected to a Membership
      Information form. Please fill out this form to ensure that we have your
      most up-to-date information.
    </p>
  </div>
</section>