  <!-- Sponsors -->
  <section id="sponsors">
    <h2>
      Sponsors Highlight
    </h2>
    <div
      class="
        grid grid-cols-1
        gap-5 gap-y-8
        text-white text-center
        w-full
        mx-auto
        md:grid-cols-2
        xl:w-4/5
      "
    >
      <!-- Sponsor 1 -->
      <div
        class="
          sponsor
          flex flex-col
          gap-5
          w-full
          bg-blue-800 bg-opacity-50
          rounded-2xl
        "
      >
        <img src="../img/sponsors/bartlettfamily.jpg" class="rounded-md" />
        <div class="pb-10 px-2 text-sm text-left flex flex-col gap-6">
          <p>
            MLT continues “GIVING THANKS” to our Business Memberships by
            thanking the support of one of our newest Business Members, Caroline
            Bartlett.
          </p>
          <p>
            Caroline is a Visual Art Teacher at Cannon County Schools and the
            mother of very talented young actor, Charlie. You may have seen
            Charlie, as Wilbur, in CFTA’s recent production of “Charlotte’s Web”
            or as Randy in ACCC’s production of “A Christmas Story” or you may
            have seen him with MLT in “Fun Home” and “Tales from Neverland”. So,
            it is not surprising that Caroline’s message is “Children Need Art.”
            Here at MLT we 100% agree with Caroline and have created youth
            opportunities with our virtual Christmas production and are
            preparing for a future production of “Junie B is not a Crook” as
            well as summer camps.
          </p>
          <p>
            We hope to have both Caroline and Charlie back with MLT soon and we
            thank them for their talents and their continued support.
          </p>
        </div>
      </div>
      <!-- Sponsor 2 -->
      <div
        class="
          sponsor
          flex flex-col
          gap-5
          w-full
          bg-blue-800 bg-opacity-50
          rounded-2xl
        "
      >
        <img src="../img/sponsors/christopherquarto.jpg" class="rounded-md" />
        <div class="pb-10 px-2 text-sm text-left flex flex-col gap-6">
          <p>
            MLT continues “GIVING THANKS” to our Business Memberships this week
            by featuring a business member that every theatre group needs: a
            licensed psychologist!
          </p>
          <p>
            Chris Quarto (and the whole Quarto family – Kathy, Luke and
            Michelle) became involved with MLT back in 2006, and he and wife
            Kathy have been faithful supporters ever since. In fact, Chris was
            the original designer and webmaster for our MLTArts.com site. Chris
            specializes in providing services for Attention
            Deficit/Hyperactivity Disorder, and has worked with children,
            adolescents and adult suffering from anxiety, depression and
            relationship issues. Most recently, Dr. Quarto created a podcast
            series for graduate students and the general public called "Make a
            Mental Note" (<a href="https://rb.gy/md1mwf" target="new"
              >https://rb.gy/md1mwf</a
            >) in which he interviewed mental health professionals on topics
            such as trauma, addiction and women's issues. In this world, we can
            all use someone understanding and objective, and Dr. Chris fits the
            bill! He has always been there for MLT!
          </p>
        </div>
      </div>
      <!-- Sponsor 3 -->
      <div
        class="
          sponsor
          flex flex-col
          gap-5
          w-full
          bg-blue-800 bg-opacity-50
          rounded-2xl
        "
      >
        <img src="../img/sponsors/kathyquarto.jpg" class="rounded-md" />
        <div class="pb-10 px-2 text-sm text-left flex flex-col gap-6">
          <p>
            MLT continues “GIVING THANKS” to our Business Memberships this week
            by featuring musical director, teacher and songbird, Kathy Quarto.
          </p>
          <p>
            Like her husband Chris, Kathy became involved with MLT back in 2006
            - and has been a strong presence on and off the stage. If you are a
            fan of MLT musicals, you will recognize her lovely face, and
            remember her lovely voice, in “High Society”, “Working”, “The 1940's
            Radio Hour”, “Chess” and most recently as Mdme Dubonnet in “The Boy
            Friend”. Behind the MLT scenes, she has served as Secretary on the
            Board of Directors, as well as bring the proud mom of Luke and
            Michelle (who have also performed on the MLT stage on number
            occasions). Kathy adores playing the drums and is band director at
            Rockvale Middle School, and is deeply committed to her church, Saint
            Henry Catholic Church in Nashville - where, you guessed it - she
            sings and plays the drums! In her spare time, Kathy is YOUR local
            Mary Kay Cosmetics representative, and is always happy to share
            beauty tips, offer free samples, lead a virtual party or a party
            with friends, or tailor a consultation just for you. As we often
            joke, “Dr. Chris will fix your head, Ms. Kathy will fix your face”.
          </p>
          <p>
            Thanks to the entire Quarto Family for their many years of ongoing
            support of MLT.
          </p>
        </div>
      </div>
      <!-- Sponsor 4 -->
      <div
        class="
          sponsor
          flex flex-col
          gap-5
          w-full
          bg-blue-800 bg-opacity-50
          rounded-2xl
        "
      >
        <img src="../img/sponsors/whatcreativegroup.jpg" class="rounded-md" />
        <div class="pb-10 px-2 text-sm text-left flex flex-col gap-6">
          <p>
            MLT continues “GIVING THANKS” to our Business Memberships by
            highlighting one of our newest Business Members, WHAT. Creative
            Group.
          </p>
          <p>
            WHAT. Creative Group focuses on Visual Art in the Middle TN area,
            specializing in public art and community projects. Located in the
            heart of East Nashville, TN, owner/operator Jake Elliott has created
            multiple works of art in the Nashville area including murals at the
            Nashville Library, the Nashville airport, the Gulch, West Nashville,
            basically anywhere you look in Nashville you can find Jake's
            incredible work.
          </p>
          <p>
            When it comes to MLT, Jake works alongside Shane Lowery (our current
            MLT President) as a hydrologic data technician. Together they have
            brainstormed and developed many of the sets you have seen on the MLT
            stage. We are happy to have Jake’s support and encourage you to
            check out his work at
            <a href="https://www.facebook.com/What.Nashville" target="new"
              >https://www.facebook.com/What.Nashville</a
            >.
          </p>
        </div>
      </div>
      <!-- Sponsor 5 -->
      <div
        class="
          sponsor
          flex flex-col
          gap-5
          w-full
          bg-blue-800 bg-opacity-50
          rounded-2xl
        "
      >
        <img src="../img/sponsors/mtar.jpg" class="rounded-md" />
        <div class="pb-10 px-2 text-sm text-left flex flex-col gap-6">
          <p>
            MLT kicks off “GIVING THANKS” for our Business Memberships by
            highlighting the Middle Tennessee Association of REALTORS, better
            know as MTAR!
          </p>
          <p>
            Yes, MTAR has been supporting MLT longer than any business member we
            have – and not just thru an annual membership, but in countless
            other ways. MTAR has been a resource that MLT has depended on since
            2000, ever since Candy Joyce, the Association’s Executive,
            auditioned for a role in “Mame”. After kicking up her heels and
            singing her heart out, Candy has been heavily involved ever since.
            From her performances In “Cotton Patch Gospel” and “Some Enchanted
            Evening” to the recent radio production “Sorry, Wrong Number”, her
            REALTORS have backed her support of the arts. Whether she was
            getting REALTORS involved in productions, providing rehearsal space,
            serving as MLT President, or representing MLT to the City, Candy and
            MTAR have proven to be one of MLT’s greatest assets!
          </p>
          <p>
            To Candy and the almost 2,300 MTAR REALTORS that make a difference
            in our community in so many ways, we humbly thank you for your
            support!
          </p>
        </div>
      </div>
      <div class="
          sponsor
          flex flex-col
          gap-5
          w-full
          bg-blue-800 bg-opacity-50
          rounded-2xl
        ">
        <div>
          <a href="https://tnartscommission.org/" target="new"><img class="rounded-t-md" src="../img/sponsors/tnartscommission.jpg" /></a>
          <a href="https://tnspecialtyplates.org/" target="new"><img class="rounded-b-md" src="../img/sponsors/tnlicense.jpg" /></a>
        </div>
        <div class="pb-10 px-2 text-sm text-left flex flex-col gap-6">
          <p>Want to show your support for the arts to the world?</p>
          <p>Visit the <a href="https://tnartscommission.org/" target="new">TN Arts Comission</a> and support both MLT and the arts in Tennessee by purchasing a <a href="https://tnspecialtyplates.org/" target="new">customized license plate</a>!</p>
        </div>
      </div>
    </div>
    <div class="text-center w-full mx-auto mt-8 xl:w-4/5
      ">
      <a href="https://penguinproject.org/" target="new"><img class="rounded-2xl" src="../img/sponsors/penguinproject.png" /></a>
    </div>
  </section>