<%- include('partials/header') %>
<main>
  <!-- ticket policy -->
  <section>
    <h2>Ticket Policy</h2>
    <div class="rounded-2xl">
      <div
        class="
          flex flex-col
          gap-5
          w-full
          bg-black bg-opacity-50
          pt-5
          pb-10
          px-3
          mx-auto
          text-left
          text-lg
          rounded-2xl
          xl:px-32
        "
      >
        <h4 class="text-2xl text-center text-yellow-500 mb-2">
          Refund/Exchange Policy
        </h4>
        <p>
          Tickets are non-refundable and no credits will be issued for unused tickets. All ticket sales are final. Your ticketed seat will be held up until five minutes prior to showtime and then released to those on a wait list.
        </p>
        <p>
          Exchanges for another performance of the current show may be made up to 24 hours prior to a performance, subject to availability.  
        </p>
        <hr />
        <h4 class="text-2xl text-center text-yellow-500 mb-2">
          Seating
        </h4>
        <p>
          Seats are not assigned or reserved. Seating is open.
        </p>
        <hr />
        <h4 class="text-2xl text-center text-yellow-500 mb-2">
          Arrival Time
        </h4>
        <p>
          The box office will open one hour before the performance begins. Doors to the theatre will be opened for seating by the Box Office Manager approximately 30 minutes prior to curtain. Please arrive at least 15 minutes prior to showtime for the best experience.
        </p>
        <p>
          Latecomers will be seated at the discretion of the Box Office Manager at the first appropriate break that allows for the least disruption for the actors, as well as the rest of the audience. Please keep in mind only a limited number of latecomers can be accommodated and that this is also not always a possibility
        </p>
      </div>
    </div>
  </section>
</main>

<%- include('partials/footer') %>
